In [1]:
import pandas as pd
import numpy as np

In [2]:
match = pd.read_csv('matches_copy.csv')

In [3]:
delivery = pd.read_csv('deliveries_copy.csv')

C:\Users\Admin\AppData\Local\Temp\ipykernel_15304\2431205309.py:1: DtypeWarning: Columns (7,8,9,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  delivery = pd.read_csv('deliveries_copy.csv')

In [4]:
match

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35.0,0.0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0.0,7.0,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0.0,10.0,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0.0,6.0,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15.0,0.0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1019,12070,2023,Bengaluru,21-05-2023,Royal Challengers Bangalore,Gujarat Titans,Gujarat Titans,field,NaN,0,Gujarat Titans,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1020,12071,2023,Chennai,23-05-2023,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,NaN,0,Chennai Super Kings,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1021,12072,2023,Chennai,24-05-2023,Mumbai Indians,Lucknow Super Giants,Mumbai Indians,bat,NaN,0,Mumbai Indians,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1022,12073,2023,Ahmedabad,26-05-2023,Gujarat Titans,Mumbai Indians,Mumbai Indians,field,NaN,0,Gujarat Titans,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1023,12074,2023,Ahmedabad,29-05-2023,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,field,NaN,0,Chennai Super Kings,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
temp=match

In [6]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1024 entries, 0 to 1023
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1024 non-null   int64
 1   Season           1024 non-null   int64
 2   city             1017 non-null   object
 3   date             1024 non-null   object
 4   team1            1024 non-null   object
 5   team2            1024 non-null   object
 6   toss_winner      1024 non-null   object
 7   toss_decision    1024 non-null   object
 8   result           950 non-null    object
 9   dl_applied       1024 non-null   int64
 10  winner           1020 non-null   object
 11  win_by_runs      950 non-null    float64
 12  win_by_wickets   950 non-null    float64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: float64(2), int64(3), object(13)
memory usage: 144.1+ KB

In [7]:
from datetime import datetime

In [8]:
# temp['date'] = pd.to_datetime(temp['date'], format='%m-%d-%Y')
temp['date']=pd.to_datetime(temp['date'],dayfirst=True)
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1024 entries, 0 to 1023
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1024 non-null   int64
 1   Season           1024 non-null   int64
 2   city             1017 non-null   object
 3   date             1024 non-null   datetime64[ns]
 4   team1            1024 non-null   object
 5   team2            1024 non-null   object
 6   toss_winner      1024 non-null   object
 7   toss_decision    1024 non-null   object
 8   result           950 non-null    object
 9   dl_applied       1024 non-null   int64
 10  winner           1020 non-null   object
 11  win_by_runs      950 non-null    float64
 12  win_by_wickets   950 non-null    float64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(3), object(12)
memory usage: 144.1+ KB

In [9]:
temp.at[0,'date'].day

5

In [10]:
temp

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35.0,0.0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0.0,7.0,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0.0,10.0,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0.0,6.0,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15.0,0.0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1019,12070,2023,Bengaluru,2023-05-21,Royal Challengers Bangalore,Gujarat Titans,Gujarat Titans,field,NaN,0,Gujarat Titans,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1020,12071,2023,Chennai,2023-05-23,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,NaN,0,Chennai Super Kings,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1021,12072,2023,Chennai,2023-05-24,Mumbai Indians,Lucknow Super Giants,Mumbai Indians,bat,NaN,0,Mumbai Indians,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1022,12073,2023,Ahmedabad,2023-05-26,Gujarat Titans,Mumbai Indians,Mumbai Indians,field,NaN,0,Gujarat Titans,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1023,12074,2023,Ahmedabad,2023-05-29,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,field,NaN,0,Chennai Super Kings,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# temp['date']=temp['date'].apply(lambda x: x.strftime("%Y-%m-%d"))
# apply(lambda x: x.strftime("%Y-%m-%d"))
temp

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35.0,0.0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0.0,7.0,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0.0,10.0,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0.0,6.0,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15.0,0.0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1019,12070,2023,Bengaluru,2023-05-21,Royal Challengers Bangalore,Gujarat Titans,Gujarat Titans,field,NaN,0,Gujarat Titans,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1020,12071,2023,Chennai,2023-05-23,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,NaN,0,Chennai Super Kings,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1021,12072,2023,Chennai,2023-05-24,Mumbai Indians,Lucknow Super Giants,Mumbai Indians,bat,NaN,0,Mumbai Indians,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1022,12073,2023,Ahmedabad,2023-05-26,Gujarat Titans,Mumbai Indians,Mumbai Indians,field,NaN,0,Gujarat Titans,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1023,12074,2023,Ahmedabad,2023-05-29,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,field,NaN,0,Chennai Super Kings,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# temp['date']=pd.to_datetime(temp['date'])
# temp.at[0,'date'].month

In [13]:
temp=temp.sort_values(by=['date']).reset_index(drop=True)
temp.info()
temp

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1024 entries, 0 to 1023
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1024 non-null   int64
 1   Season           1024 non-null   int64
 2   city             1017 non-null   object
 3   date             1024 non-null   datetime64[ns]
 4   team1            1024 non-null   object
 5   team2            1024 non-null   object
 6   toss_winner      1024 non-null   object
 7   toss_decision    1024 non-null   object
 8   result           950 non-null    object
 9   dl_applied       1024 non-null   int64
 10  winner           1020 non-null   object
 11  win_by_runs      950 non-null    float64
 12  win_by_wickets   950 non-null    float64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(3), object(12)
memory usage: 144.1+ KB

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,60,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,140.0,0.0,BB McCullum,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen,NaN
1,61,2008,Chandigarh,2008-04-19,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,normal,0,Chennai Super Kings,33.0,0.0,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",MR Benson,SL Shastri,NaN
2,62,2008,Delhi,2008-04-19,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,normal,0,Delhi Daredevils,0.0,9.0,MF Maharoof,Feroz Shah Kotla,Aleem Dar,GA Pratapkumar,NaN
3,63,2008,Mumbai,2008-04-20,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,0,Royal Challengers Bangalore,0.0,5.0,MV Boucher,Wankhede Stadium,SJ Davis,DJ Harper,NaN
4,64,2008,Kolkata,2008-04-20,Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,bat,normal,0,Kolkata Knight Riders,0.0,5.0,DJ Hussey,Eden Gardens,BF Bowden,K Hariharan,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1019,12070,2023,Bengaluru,2023-05-21,Royal Challengers Bangalore,Gujarat Titans,Gujarat Titans,field,NaN,0,Gujarat Titans,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1020,12071,2023,Chennai,2023-05-23,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,NaN,0,Chennai Super Kings,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1021,12072,2023,Chennai,2023-05-24,Mumbai Indians,Lucknow Super Giants,Mumbai Indians,bat,NaN,0,Mumbai Indians,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1022,12073,2023,Ahmedabad,2023-05-26,Gujarat Titans,Mumbai Indians,Mumbai Indians,field,NaN,0,Gujarat Titans,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1023,12074,2023,Ahmedabad,2023-05-29,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,field,NaN,0,Chennai Super Kings,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
def LoosingTeam(row):
    return row['team2'] if row['winner']==row['team1'] else row['team1']

temp['loser']= temp.apply(LoosingTeam,axis=1)
temp.head()

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,loser
0,60,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,140.0,0.0,BB McCullum,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen,NaN,Royal Challengers Bangalore
1,61,2008,Chandigarh,2008-04-19,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,normal,0,Chennai Super Kings,33.0,0.0,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",MR Benson,SL Shastri,NaN,Kings XI Punjab
2,62,2008,Delhi,2008-04-19,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,normal,0,Delhi Daredevils,0.0,9.0,MF Maharoof,Feroz Shah Kotla,Aleem Dar,GA Pratapkumar,NaN,Rajasthan Royals
3,63,2008,Mumbai,2008-04-20,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,0,Royal Challengers Bangalore,0.0,5.0,MV Boucher,Wankhede Stadium,SJ Davis,DJ Harper,NaN,Mumbai Indians
4,64,2008,Kolkata,2008-04-20,Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,bat,normal,0,Kolkata Knight Riders,0.0,5.0,DJ Hussey,Eden Gardens,BF Bowden,K Hariharan,NaN,Deccan Chargers

In [15]:
# temp.groupby(['Season','id'],group_keys=True).sum('team1')
# temp.to_csv("temp.csv")

In [16]:

team1_wins=[] 
team2_wins=[] 
for i in range(temp.shape[0]):
    t1_win,t2_win = 0,0
    for j in range(i):
        if((temp.at[i,'team1']==temp.at[j,'winner']) and  (temp.at[i,'date']>temp.at[j,'date']) and (temp.at[i,'Season']==temp.at[j,'Season']) ):
            t1_win=t1_win+1
        elif((temp.at[i,'team2']==temp.at[j,'winner'])and(temp.at[i,'date']>temp.at[j,'date']) and (temp.at[i,'Season']==temp.at[j,'Season']) ):
            t2_win=t2_win+1
    team1_wins.append(t1_win)
    team2_wins.append(t2_win)
    # print(temp.at[i,'team1'],count)    
        # print(i,j)

In [17]:
temp['team1_wins']=team1_wins
temp['team2_wins']=team2_wins

In [18]:
team1_loss=[] 
team2_loss=[] 
for i in range(temp.shape[0]):
    t1_loss,t2_loss = 0,0
    for j in range(i):
        if((temp.at[i,'team1']==temp.at[j,'loser']) and  (temp.at[i,'date']>temp.at[j,'date']) and (temp.at[i,'Season']==temp.at[j,'Season']) ):
            t1_loss=t1_loss+1
        elif((temp.at[i,'team2']==temp.at[j,'loser']) and  (temp.at[i,'date']>temp.at[j,'date']) and (temp.at[i,'Season']==temp.at[j,'Season']) ):
            t2_loss=t2_loss+1
    team1_loss.append(t1_loss)
    team2_loss.append(t2_loss)
    # print(temp.at[i,'team1'],count)    
        # print(i,j)

In [19]:
temp['team1_losses']=team1_loss
temp['team2_losses']=team2_loss

In [20]:
temp

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,...,player_of_match,venue,umpire1,umpire2,umpire3,loser,team1_wins,team2_wins,team1_losses,team2_losses
0,60,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,BB McCullum,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen,NaN,Royal Challengers Bangalore,0,0,0,0
1,61,2008,Chandigarh,2008-04-19,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,normal,0,...,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",MR Benson,SL Shastri,NaN,Kings XI Punjab,0,0,0,0
2,62,2008,Delhi,2008-04-19,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,normal,0,...,MF Maharoof,Feroz Shah Kotla,Aleem Dar,GA Pratapkumar,NaN,Rajasthan Royals,0,0,0,0
3,63,2008,Mumbai,2008-04-20,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,0,...,MV Boucher,Wankhede Stadium,SJ Davis,DJ Harper,NaN,Mumbai Indians,0,0,0,1
4,64,2008,Kolkata,2008-04-20,Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,bat,normal,0,...,DJ Hussey,Eden Gardens,BF Bowden,K Hariharan,NaN,Deccan Chargers,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1019,12070,2023,Bengaluru,2023-05-21,Royal Challengers Bangalore,Gujarat Titans,Gujarat Titans,field,NaN,0,...,NaN,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,7,9,6,4
1020,12071,2023,Chennai,2023-05-23,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,NaN,0,...,NaN,NaN,NaN,NaN,NaN,Gujarat Titans,8,10,5,4
1021,12072,2023,Chennai,2023-05-24,Mumbai Indians,Lucknow Super Giants,Mumbai Indians,bat,NaN,0,...,NaN,NaN,NaN,NaN,NaN,Lucknow Super Giants,8,8,6,6
1022,12073,2023,Ahmedabad,2023-05-26,Gujarat Titans,Mumbai Indians,Mumbai Indians,field,NaN,0,...,NaN,NaN,NaN,NaN,NaN,Mumbai Indians,10,9,5,6
1023,12074,2023,Ahmedabad,2023-05-29,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,field,NaN,0,...,NaN,NaN,NaN,NaN,NaN,Gujarat Titans,9,11,5,5

In [21]:
match=temp

In [22]:
match.shape

(1024, 23)

In [23]:
delivery.head(5)

,match_id,inning,batting_team,bowling_team,over,ball,Unnamed: 6,batsman,non_striker,bowler,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,NaN,DA Warner,S Dhawan,TS Mills,...,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,NaN,DA Warner,S Dhawan,TS Mills,...,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,NaN,DA Warner,S Dhawan,TS Mills,...,0.0,0.0,0.0,0.0,4.0,0.0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,NaN,DA Warner,S Dhawan,TS Mills,...,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,NaN,DA Warner,S Dhawan,TS Mills,...,0.0,0.0,0.0,0.0,0.0,2.0,2,NaN,NaN,NaN

In [24]:
delivery.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243719 entries, 0 to 243718
Data columns (total 22 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          243719 non-null  int64
 1   inning            243719 non-null  int64
 2   batting_team      243719 non-null  object
 3   bowling_team      243719 non-null  object
 4   over              243719 non-null  int64
 5   ball              243719 non-null  int64
 6   Unnamed: 6        0 non-null       float64
 7   batsman           179078 non-null  object
 8   non_striker       179078 non-null  object
 9   bowler            179078 non-null  object
 10  is_super_over     179078 non-null  float64
 11  wide_runs         179078 non-null  float64
 12  bye_runs          179078 non-null  float64
 13  legbye_runs       179078 non-null  float64
 14  noball_runs       179078 non-null  float64
 15  penalty_runs      179078 non-null  float64
 16  batsman_runs      179078 non-null  float64
 17  extra_runs        179078 non-null  float64
 18  total_runs        243719 non-null  int64
 19  player_dismissed  12047 non-null   object
 20  dismissal_kind    8834 non-null    object
 21  fielder           6448 non-null    object
dtypes: float64(9), int64(5), object(8)
memory usage: 40.9+ MB

In [25]:
total_score_df = delivery.groupby(['match_id','inning']).sum()['total_runs'].reset_index()

C:\Users\Admin\AppData\Local\Temp\ipykernel_15304\2553512226.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_score_df = delivery.groupby(['match_id','inning']).sum()['total_runs'].reset_index()

In [26]:
total_score_df

      match_id  inning  total_runs
0            1       1         207
1            1       2         172
2            2       1         184
3            2       2         187
4            3       1         183
...        ...     ...         ...
2069   1312198       2         193
2070   1312199       1         157
2071   1312199       2         161
2072   1312200       1         130
2073   1312200       2         133

[2074 rows x 3 columns]

In [27]:
total_score_df = total_score_df[total_score_df['inning']==1]

In [28]:
total_score_df['total_runs']=total_score_df['total_runs'].add(1)

C:\Users\Admin\AppData\Local\Temp\ipykernel_15304\3636325049.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_score_df['total_runs']=total_score_df['total_runs'].add(1)

In [29]:
total_score_df.rename(columns={'total_runs':'target'},inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_15304\3734386711.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_score_df.rename(columns={'total_runs':'target'},inplace=True)

In [30]:
total_score_df

      match_id  inning  target
0            1       1     208
2            2       1     185
4            3       1     184
6            4       1     164
8            5       1     158
...        ...     ...     ...
2064   1304116       1     158
2066   1312197       1     189
2068   1312198       1     208
2070   1312199       1     158
2072   1312200       1     131

[1024 rows x 3 columns]

In [31]:
match_df = match.merge(total_score_df[['match_id','target']],left_on='id',right_on='match_id')

In [32]:
match_df

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,...,umpire1,umpire2,umpire3,loser,team1_wins,team2_wins,team1_losses,team2_losses,match_id,target
0,60,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,Asad Rauf,RE Koertzen,NaN,Royal Challengers Bangalore,0,0,0,0,60,223
1,61,2008,Chandigarh,2008-04-19,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,normal,0,...,MR Benson,SL Shastri,NaN,Kings XI Punjab,0,0,0,0,61,241
2,62,2008,Delhi,2008-04-19,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,normal,0,...,Aleem Dar,GA Pratapkumar,NaN,Rajasthan Royals,0,0,0,0,62,130
3,63,2008,Mumbai,2008-04-20,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,0,...,SJ Davis,DJ Harper,NaN,Mumbai Indians,0,0,0,1,63,166
4,64,2008,Kolkata,2008-04-20,Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,bat,normal,0,...,BF Bowden,K Hariharan,NaN,Deccan Chargers,0,1,0,0,64,111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1019,12070,2023,Bengaluru,2023-05-21,Royal Challengers Bangalore,Gujarat Titans,Gujarat Titans,field,NaN,0,...,NaN,NaN,NaN,Royal Challengers Bangalore,7,9,6,4,12070,208
1020,12071,2023,Chennai,2023-05-23,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,NaN,0,...,NaN,NaN,NaN,Gujarat Titans,8,10,5,4,12071,143
1021,12072,2023,Chennai,2023-05-24,Mumbai Indians,Lucknow Super Giants,Mumbai Indians,bat,NaN,0,...,NaN,NaN,NaN,Lucknow Super Giants,8,8,6,6,12072,135
1022,12073,2023,Ahmedabad,2023-05-26,Gujarat Titans,Mumbai Indians,Mumbai Indians,field,NaN,0,...,NaN,NaN,NaN,Mumbai Indians,10,9,5,6,12073,193
1023,12074,2023,Ahmedabad,2023-05-29,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,field,NaN,0,...,NaN,NaN,NaN,Gujarat Titans,9,11,5,5,12074,175

In [33]:
match_df['team1'].unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Deccan Chargers', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Daredevils',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings',
       'Lucknow Super Giants', 'Gujarat Titans'], dtype=object)

In [34]:
# match_df['team1'] = match_df['team1'].str.replace("Delhi Daredevils","Delhi Capitals")
# match_df['team2'] = match_df['team2'].str.replace("Delhi Daredevils","Delhi Capitals")

# match_df['team1'] = match_df['team1'].str.replace("Deccan Chargers","Sunrisers Hyderabad")
# match_df['team2'] = match_df['team2'].str.replace("Deccan Chargers","Sunrisers Hyderabad")

# match_df['team1'] = match_df['team1'].str.replace("Kings XI Punjab","Punjab Kings")
# match_df['team2'] = match_df['team2'].str.replace("Kings XI Punjab","Punjab Kings")

In [35]:
teams=['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Deccan Chargers', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Daredevils',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings',
       'Lucknow Super Giants', 'Gujarat Titans']

In [36]:
match_df= match_df[match_df['team1'].isin(teams)]
match_df= match_df[match_df['team2'].isin(teams)]

In [37]:
match_df.shape

(1024, 25)

In [38]:
match_df['dl_applied'].value_counts()

0    1005
1      19
Name: dl_applied, dtype: int64

In [39]:
match_df[match_df['dl_applied']==0]

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,...,umpire1,umpire2,umpire3,loser,team1_wins,team2_wins,team1_losses,team2_losses,match_id,target
0,60,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,Asad Rauf,RE Koertzen,NaN,Royal Challengers Bangalore,0,0,0,0,60,223
1,61,2008,Chandigarh,2008-04-19,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,normal,0,...,MR Benson,SL Shastri,NaN,Kings XI Punjab,0,0,0,0,61,241
2,62,2008,Delhi,2008-04-19,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,normal,0,...,Aleem Dar,GA Pratapkumar,NaN,Rajasthan Royals,0,0,0,0,62,130
3,63,2008,Mumbai,2008-04-20,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,0,...,SJ Davis,DJ Harper,NaN,Mumbai Indians,0,0,0,1,63,166
4,64,2008,Kolkata,2008-04-20,Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,bat,normal,0,...,BF Bowden,K Hariharan,NaN,Deccan Chargers,0,1,0,0,64,111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1019,12070,2023,Bengaluru,2023-05-21,Royal Challengers Bangalore,Gujarat Titans,Gujarat Titans,field,NaN,0,...,NaN,NaN,NaN,Royal Challengers Bangalore,7,9,6,4,12070,208
1020,12071,2023,Chennai,2023-05-23,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,NaN,0,...,NaN,NaN,NaN,Gujarat Titans,8,10,5,4,12071,143
1021,12072,2023,Chennai,2023-05-24,Mumbai Indians,Lucknow Super Giants,Mumbai Indians,bat,NaN,0,...,NaN,NaN,NaN,Lucknow Super Giants,8,8,6,6,12072,135
1022,12073,2023,Ahmedabad,2023-05-26,Gujarat Titans,Mumbai Indians,Mumbai Indians,field,NaN,0,...,NaN,NaN,NaN,Mumbai Indians,10,9,5,6,12073,193
1023,12074,2023,Ahmedabad,2023-05-29,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,field,NaN,0,...,NaN,NaN,NaN,Gujarat Titans,9,11,5,5,12074,175

In [40]:
match_df= match_df[match_df['dl_applied']==0]

In [41]:
match_df.shape

(1005, 25)

In [42]:
match_df = match_df[['date','match_id','city','toss_winner','toss_decision','team1','team2','winner','loser','team1_wins','team2_wins','target']]
# match_df = match_df[['date','match_id','city','toss_winner','toss_decision','team1','team2','winner','loser','team1_wins','team1_losses','team2_wins','team2_losses','target']]

In [43]:
match_df

,date,match_id,city,toss_winner,toss_decision,team1,team2,winner,loser,team1_wins,team2_wins,target
0,2008-04-18,60,Bangalore,Royal Challengers Bangalore,field,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,0,0,223
1,2008-04-19,61,Chandigarh,Chennai Super Kings,bat,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,Kings XI Punjab,0,0,241
2,2008-04-19,62,Delhi,Rajasthan Royals,bat,Rajasthan Royals,Delhi Daredevils,Delhi Daredevils,Rajasthan Royals,0,0,130
3,2008-04-20,63,Mumbai,Mumbai Indians,bat,Mumbai Indians,Royal Challengers Bangalore,Royal Challengers Bangalore,Mumbai Indians,0,0,166
4,2008-04-20,64,Kolkata,Deccan Chargers,bat,Deccan Chargers,Kolkata Knight Riders,Kolkata Knight Riders,Deccan Chargers,0,1,111
...,...,...,...,...,...,...,...,...,...,...,...,...
1019,2023-05-21,12070,Bengaluru,Gujarat Titans,field,Royal Challengers Bangalore,Gujarat Titans,Gujarat Titans,Royal Challengers Bangalore,7,9,208
1020,2023-05-23,12071,Chennai,Gujarat Titans,field,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,Gujarat Titans,8,10,143
1021,2023-05-24,12072,Chennai,Mumbai Indians,bat,Mumbai Indians,Lucknow Super Giants,Mumbai Indians,Lucknow Super Giants,8,8,135
1022,2023-05-26,12073,Ahmedabad,Mumbai Indians,field,Gujarat Titans,Mumbai Indians,Gujarat Titans,Mumbai Indians,10,9,193
1023,2023-05-29,12074,Ahmedabad,Chennai Super Kings,field,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,Gujarat Titans,9,11,175

In [44]:
# match_df.to_csv("match_asddfsdsf.csv")

In [45]:
delivery_df=match_df.merge(delivery,on='match_id')

In [46]:
delivery_df

,date,match_id,city,toss_winner,toss_decision,team1,team2,winner,loser,team1_wins,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,2008-04-18,60,Bangalore,Royal Challengers Bangalore,field,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,0.0,1.0,0.0,0.0,0.0,1.0,1,NaN,NaN,NaN
1,2008-04-18,60,Bangalore,Royal Challengers Bangalore,field,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN
2,2008-04-18,60,Bangalore,Royal Challengers Bangalore,field,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,0.0,0.0,0.0,0.0,0.0,1.0,1,NaN,NaN,NaN
3,2008-04-18,60,Bangalore,Royal Challengers Bangalore,field,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN
4,2008-04-18,60,Bangalore,Royal Challengers Bangalore,field,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240506,2023-05-29,12074,Ahmedabad,Chennai Super Kings,field,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,Gujarat Titans,9,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
240507,2023-05-29,12074,Ahmedabad,Chennai Super Kings,field,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,Gujarat Titans,9,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
240508,2023-05-29,12074,Ahmedabad,Chennai Super Kings,field,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,Gujarat Titans,9,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
240509,2023-05-29,12074,Ahmedabad,Chennai Super Kings,field,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,Gujarat Titans,9,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
240510,2023-05-29,12074,Ahmedabad,Chennai Super Kings,field,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,Gujarat Titans,9,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN

In [47]:
delivery_df = delivery_df[delivery_df['inning']==2]

In [48]:
delivery_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 116284 entries, 124 to 240412
Data columns (total 33 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   date              116284 non-null  datetime64[ns]
 1   match_id          116284 non-null  int64
 2   city              115452 non-null  object
 3   toss_winner       116284 non-null  object
 4   toss_decision     116284 non-null  object
 5   team1             116284 non-null  object
 6   team2             116284 non-null  object
 7   winner            116257 non-null  object
 8   loser             116284 non-null  object
 9   team1_wins        116284 non-null  int64
 10  team2_wins        116284 non-null  int64
 11  target            116284 non-null  int64
 12  inning            116284 non-null  int64
 13  batting_team      116284 non-null  object
 14  bowling_team      116284 non-null  object
 15  over              116284 non-null  int64
 16  ball              116284 non-null  int64
 17  Unnamed: 6        0 non-null       float64
 18  batsman           85079 non-null   object
 19  non_striker       85079 non-null   object
 20  bowler            85079 non-null   object
 21  is_super_over     85079 non-null   float64
 22  wide_runs         85079 non-null   float64
 23  bye_runs          85079 non-null   float64
 24  legbye_runs       85079 non-null   float64
 25  noball_runs       85079 non-null   float64
 26  penalty_runs      85079 non-null   float64
 27  batsman_runs      85079 non-null   float64
 28  extra_runs        85079 non-null   float64
 29  total_runs        116284 non-null  int64
 30  player_dismissed  5711 non-null    object
 31  dismissal_kind    4160 non-null    object
 32  fielder           2987 non-null    object
dtypes: datetime64[ns](1), float64(9), int64(8), object(15)
memory usage: 30.2+ MB

In [49]:
delivery_df.iloc[:,:]

,date,match_id,city,toss_winner,toss_decision,team1,team2,winner,loser,team1_wins,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
124,2008-04-18,60,Bangalore,Royal Challengers Bangalore,field,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,0.0,0.0,0.0,0.0,1.0,0.0,1,NaN,NaN,NaN
125,2008-04-18,60,Bangalore,Royal Challengers Bangalore,field,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,0.0,0.0,0.0,0.0,0.0,1.0,1,NaN,NaN,NaN
126,2008-04-18,60,Bangalore,Royal Challengers Bangalore,field,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN
127,2008-04-18,60,Bangalore,Royal Challengers Bangalore,field,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,0.0,0.0,0.0,0.0,1.0,0.0,1,NaN,NaN,NaN
128,2008-04-18,60,Bangalore,Royal Challengers Bangalore,field,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,0.0,0.0,0.0,0.0,1.0,0.0,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240408,2023-05-26,12073,Ahmedabad,Mumbai Indians,field,Gujarat Titans,Mumbai Indians,Gujarat Titans,Mumbai Indians,10,...,NaN,NaN,NaN,NaN,NaN,NaN,0,w,NaN,NaN
240409,2023-05-26,12073,Ahmedabad,Mumbai Indians,field,Gujarat Titans,Mumbai Indians,Gujarat Titans,Mumbai Indians,10,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
240410,2023-05-26,12073,Ahmedabad,Mumbai Indians,field,Gujarat Titans,Mumbai Indians,Gujarat Titans,Mumbai Indians,10,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
240411,2023-05-26,12073,Ahmedabad,Mumbai Indians,field,Gujarat Titans,Mumbai Indians,Gujarat Titans,Mumbai Indians,10,...,NaN,NaN,NaN,NaN,NaN,NaN,0,w,NaN,NaN
240412,2023-05-26,12073,Ahmedabad,Mumbai Indians,field,Gujarat Titans,Mumbai Indians,Gujarat Titans,Mumbai Indians,10,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN

In [50]:

# delivery_df_wo_date=delivery_df.drop(columns=['date'])
# delivery_df_wo_date.info()
# delivery_df['current_score']=delivery_df_wo_date.groupby(['match_id',]).cumsum()['total_runs']
delivery_df['current_score']=delivery_df[['match_id','inning','total_runs']].groupby(['match_id','inning']).cumsum()['total_runs']

C:\Users\Admin\AppData\Local\Temp\ipykernel_15304\748311795.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['current_score']=delivery_df[['match_id','inning','total_runs']].groupby(['match_id','inning']).cumsum()['total_runs']

In [51]:
delivery_df

,date,match_id,city,toss_winner,toss_decision,team1,team2,winner,loser,team1_wins,...,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder,current_score
124,2008-04-18,60,Bangalore,Royal Challengers Bangalore,field,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,0.0,0.0,0.0,1.0,0.0,1,NaN,NaN,NaN,1
125,2008-04-18,60,Bangalore,Royal Challengers Bangalore,field,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,0.0,0.0,0.0,0.0,1.0,1,NaN,NaN,NaN,2
126,2008-04-18,60,Bangalore,Royal Challengers Bangalore,field,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN,2
127,2008-04-18,60,Bangalore,Royal Challengers Bangalore,field,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,0.0,0.0,0.0,1.0,0.0,1,NaN,NaN,NaN,3
128,2008-04-18,60,Bangalore,Royal Challengers Bangalore,field,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,0.0,0.0,0.0,1.0,0.0,1,NaN,NaN,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240408,2023-05-26,12073,Ahmedabad,Mumbai Indians,field,Gujarat Titans,Mumbai Indians,Gujarat Titans,Mumbai Indians,10,...,NaN,NaN,NaN,NaN,NaN,0,w,NaN,NaN,207
240409,2023-05-26,12073,Ahmedabad,Mumbai Indians,field,Gujarat Titans,Mumbai Indians,Gujarat Titans,Mumbai Indians,10,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,208
240410,2023-05-26,12073,Ahmedabad,Mumbai Indians,field,Gujarat Titans,Mumbai Indians,Gujarat Titans,Mumbai Indians,10,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,209
240411,2023-05-26,12073,Ahmedabad,Mumbai Indians,field,Gujarat Titans,Mumbai Indians,Gujarat Titans,Mumbai Indians,10,...,NaN,NaN,NaN,NaN,NaN,0,w,NaN,NaN,209
240412,2023-05-26,12073,Ahmedabad,Mumbai Indians,field,Gujarat Titans,Mumbai Indians,Gujarat Titans,Mumbai Indians,10,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,209

In [52]:
delivery_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 116284 entries, 124 to 240412
Data columns (total 34 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   date              116284 non-null  datetime64[ns]
 1   match_id          116284 non-null  int64
 2   city              115452 non-null  object
 3   toss_winner       116284 non-null  object
 4   toss_decision     116284 non-null  object
 5   team1             116284 non-null  object
 6   team2             116284 non-null  object
 7   winner            116257 non-null  object
 8   loser             116284 non-null  object
 9   team1_wins        116284 non-null  int64
 10  team2_wins        116284 non-null  int64
 11  target            116284 non-null  int64
 12  inning            116284 non-null  int64
 13  batting_team      116284 non-null  object
 14  bowling_team      116284 non-null  object
 15  over              116284 non-null  int64
 16  ball              116284 non-null  int64
 17  Unnamed: 6        0 non-null       float64
 18  batsman           85079 non-null   object
 19  non_striker       85079 non-null   object
 20  bowler            85079 non-null   object
 21  is_super_over     85079 non-null   float64
 22  wide_runs         85079 non-null   float64
 23  bye_runs          85079 non-null   float64
 24  legbye_runs       85079 non-null   float64
 25  noball_runs       85079 non-null   float64
 26  penalty_runs      85079 non-null   float64
 27  batsman_runs      85079 non-null   float64
 28  extra_runs        85079 non-null   float64
 29  total_runs        116284 non-null  int64
 30  player_dismissed  5711 non-null    object
 31  dismissal_kind    4160 non-null    object
 32  fielder           2987 non-null    object
 33  current_score     116284 non-null  int64
dtypes: datetime64[ns](1), float64(9), int64(9), object(15)
memory usage: 31.1+ MB

In [53]:
# delivery_df.to_csv('asdfasdfa.csv')

In [54]:
# if(row['team1']=row['toss_winner']):
#     return row['team2']
# else
#     return row['team2']

def batting_team_(row):
    if (row['inning']==1 and row['toss_decision']=="field"):
        if(row['team1']==row['toss_winner']):
            return row['team2']
        else:
            return row['team1']
    elif (row['inning']==1 and row['toss_decision']=="bat"):
        return row['toss_winner']
    elif (row['inning']==2 and row['toss_decision']=="field"):
        return row['toss_winner']
    elif (row['inning']==2 and row['toss_decision']=="bat"):
        if(row['team1']==row['toss_winner']):
            return row['team2']
        else:
            return row['team1']
    
def bowling_team_(row):
    if (row['inning']==1 and row['toss_decision']=="field"):
        return row['toss_winner']
    elif (row['inning']==1 and row['toss_decision']=="bat"):
        if(row['team1']==row['toss_winner']):
            return row['team2']
        else:
            return row['team1']
    elif (row['inning']==2 and row['toss_decision']=="field"):
        if(row['team1']==row['toss_winner']):
            return row['team2']
        else:
            return row['team1']
    elif (row['inning']==2 and row['toss_decision']=="bat"):
        return row['toss_winner']
        
    
        

delivery_df['batting_team_']= delivery_df.apply(batting_team_,axis=1)

delivery_df['bowling_team_']= delivery_df.apply(bowling_team_,axis=1)

C:\Users\Admin\AppData\Local\Temp\ipykernel_15304\2371763915.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['batting_team_']= delivery_df.apply(batting_team_,axis=1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_15304\2371763915.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['bowling_team_']= delivery_df.apply(bowling_team_,axis=1)

In [55]:
# temp_delivery=delivery_df

In [56]:
# runs_scored=[] 
# overs_played=[] 
# runs_given=[] 
# overs_bowled=[] 
# 


# for i in range(temp_delivery.shape[0]):
#     run_scored,over_played,run_given,over_bowled = 0,0,0,0
#     for j in range(i):
#         if((temp_delivery.at[i,'date']>temp_delivery.at[j,'date']) and (temp_delivery.at[i,'date'].year==temp_delivery.at[j,'date'].year) ):
#             run_scored=
            
#         elif((temp_delivery.at[i,'team2']==temp_delivery.at[j,'winner'])and(temp_delivery.at[i,'date']>temp_delivery.at[j,'date']) and (temp_delivery.at[i,'Season']==temp_delivery.at[j,'Season']) ):
#             t2_win=t2_win+1
#     team1_wins.append(t1_win)
#     team2_wins.append(t2_win)
#     # print(temp_delivery.at[i,'team1'],count)    
#         # print(i,j)

In [57]:
# delivery_df.to_csv('asdfasdfa.csv')

In [58]:
# ggghh

In [59]:
delivery_df['runs_left'] = delivery_df['target'] - delivery_df['current_score']

C:\Users\Admin\AppData\Local\Temp\ipykernel_15304\2707468433.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['runs_left'] = delivery_df['target'] - delivery_df['current_score']

In [60]:
delivery_df['balls_left']= (120 - ((delivery_df['over'].subtract(1))*6 + delivery_df['ball']))

C:\Users\Admin\AppData\Local\Temp\ipykernel_15304\3651868837.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['balls_left']= (120 - ((delivery_df['over'].subtract(1))*6 + delivery_df['ball']))

In [61]:
# ----blocker

In [62]:
delivery_df.head()

,date,match_id,city,toss_winner,toss_decision,team1,team2,winner,loser,team1_wins,...,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder,current_score,batting_team_,bowling_team_,runs_left,balls_left
124,2008-04-18,60,Bangalore,Royal Challengers Bangalore,field,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,0.0,1,NaN,NaN,NaN,1,Royal Challengers Bangalore,Kolkata Knight Riders,222,119
125,2008-04-18,60,Bangalore,Royal Challengers Bangalore,field,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,1.0,1,NaN,NaN,NaN,2,Royal Challengers Bangalore,Kolkata Knight Riders,221,118
126,2008-04-18,60,Bangalore,Royal Challengers Bangalore,field,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,0.0,0,NaN,NaN,NaN,2,Royal Challengers Bangalore,Kolkata Knight Riders,221,117
127,2008-04-18,60,Bangalore,Royal Challengers Bangalore,field,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,0.0,1,NaN,NaN,NaN,3,Royal Challengers Bangalore,Kolkata Knight Riders,220,116
128,2008-04-18,60,Bangalore,Royal Challengers Bangalore,field,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,0.0,1,NaN,NaN,NaN,4,Royal Challengers Bangalore,Kolkata Knight Riders,219,115

In [63]:
delivery_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 116284 entries, 124 to 240412
Data columns (total 38 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   date              116284 non-null  datetime64[ns]
 1   match_id          116284 non-null  int64
 2   city              115452 non-null  object
 3   toss_winner       116284 non-null  object
 4   toss_decision     116284 non-null  object
 5   team1             116284 non-null  object
 6   team2             116284 non-null  object
 7   winner            116257 non-null  object
 8   loser             116284 non-null  object
 9   team1_wins        116284 non-null  int64
 10  team2_wins        116284 non-null  int64
 11  target            116284 non-null  int64
 12  inning            116284 non-null  int64
 13  batting_team      116284 non-null  object
 14  bowling_team      116284 non-null  object
 15  over              116284 non-null  int64
 16  ball              116284 non-null  int64
 17  Unnamed: 6        0 non-null       float64
 18  batsman           85079 non-null   object
 19  non_striker       85079 non-null   object
 20  bowler            85079 non-null   object
 21  is_super_over     85079 non-null   float64
 22  wide_runs         85079 non-null   float64
 23  bye_runs          85079 non-null   float64
 24  legbye_runs       85079 non-null   float64
 25  noball_runs       85079 non-null   float64
 26  penalty_runs      85079 non-null   float64
 27  batsman_runs      85079 non-null   float64
 28  extra_runs        85079 non-null   float64
 29  total_runs        116284 non-null  int64
 30  player_dismissed  5711 non-null    object
 31  dismissal_kind    4160 non-null    object
 32  fielder           2987 non-null    object
 33  current_score     116284 non-null  int64
 34  batting_team_     116284 non-null  object
 35  bowling_team_     116284 non-null  object
 36  runs_left         116284 non-null  int64
 37  balls_left        116284 non-null  int64
dtypes: datetime64[ns](1), float64(9), int64(11), object(17)
memory usage: 34.6+ MB

In [64]:
delivery_df[delivery_df['runs_left']<0].value_counts()

Series([], dtype: int64)

In [65]:
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].fillna("0")
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].apply(lambda x:x if x=="0" else "1")
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].astype("int")
wickets=  delivery_df[['match_id','player_dismissed']].groupby('match_id').cumsum()['player_dismissed'].values
delivery_df['wickets_left']= (10 - wickets)
delivery_df

C:\Users\Admin\AppData\Local\Temp\ipykernel_15304\887017414.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['player_dismissed'] = delivery_df['player_dismissed'].fillna("0")
C:\Users\Admin\AppData\Local\Temp\ipykernel_15304\887017414.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['player_dismissed'] = delivery_df['player_dismissed'].apply(lambda x:x if x=="0" else "1")
C:\Users\Admin\AppData\Local\Temp\ipykernel_15304\887017414.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['player_dismissed'] = delivery_df['player_dismissed'].astype("int")
C:\Users\Admin\AppData\Local\Temp\ipykernel_15304\887017414.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['wickets_left']= (10 - wickets)

,date,match_id,city,toss_winner,toss_decision,team1,team2,winner,loser,team1_wins,...,total_runs,player_dismissed,dismissal_kind,fielder,current_score,batting_team_,bowling_team_,runs_left,balls_left,wickets_left
124,2008-04-18,60,Bangalore,Royal Challengers Bangalore,field,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,1,0,NaN,NaN,1,Royal Challengers Bangalore,Kolkata Knight Riders,222,119,10
125,2008-04-18,60,Bangalore,Royal Challengers Bangalore,field,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,1,0,NaN,NaN,2,Royal Challengers Bangalore,Kolkata Knight Riders,221,118,10
126,2008-04-18,60,Bangalore,Royal Challengers Bangalore,field,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,0,0,NaN,NaN,2,Royal Challengers Bangalore,Kolkata Knight Riders,221,117,10
127,2008-04-18,60,Bangalore,Royal Challengers Bangalore,field,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,1,0,NaN,NaN,3,Royal Challengers Bangalore,Kolkata Knight Riders,220,116,10
128,2008-04-18,60,Bangalore,Royal Challengers Bangalore,field,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,1,0,NaN,NaN,4,Royal Challengers Bangalore,Kolkata Knight Riders,219,115,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240408,2023-05-26,12073,Ahmedabad,Mumbai Indians,field,Gujarat Titans,Mumbai Indians,Gujarat Titans,Mumbai Indians,10,...,0,1,NaN,NaN,207,Mumbai Indians,Gujarat Titans,-14,3,7
240409,2023-05-26,12073,Ahmedabad,Mumbai Indians,field,Gujarat Titans,Mumbai Indians,Gujarat Titans,Mumbai Indians,10,...,1,0,NaN,NaN,208,Mumbai Indians,Gujarat Titans,-15,2,7
240410,2023-05-26,12073,Ahmedabad,Mumbai Indians,field,Gujarat Titans,Mumbai Indians,Gujarat Titans,Mumbai Indians,10,...,1,0,NaN,NaN,209,Mumbai Indians,Gujarat Titans,-16,1,7
240411,2023-05-26,12073,Ahmedabad,Mumbai Indians,field,Gujarat Titans,Mumbai Indians,Gujarat Titans,Mumbai Indians,10,...,0,1,NaN,NaN,209,Mumbai Indians,Gujarat Titans,-16,0,6
240412,2023-05-26,12073,Ahmedabad,Mumbai Indians,field,Gujarat Titans,Mumbai Indians,Gujarat Titans,Mumbai Indians,10,...,0,0,NaN,NaN,209,Mumbai Indians,Gujarat Titans,-16,119,6

In [66]:
delivery_df[delivery_df['wickets_left']<0].value_counts()

Series([], dtype: int64)

In [67]:
delivery_df['over'].value_counts()

2     6253
1     6232
3     6207
4     6186
5     6182
6     6158
7     6153
8     6153
9     6141
10    6124
11    6100
12    6082
13    6059
14    5984
15    5873
16    5739
17    5579
18    5247
19    4590
20    3242
Name: over, dtype: int64

In [68]:
# delivery_df[delivery_df['wickets_left']<0].value_counts()
# final_df = final_df[final_df['runs_left']>=0]
delivery_df = delivery_df[delivery_df['over']>0]
# delivery_df = delivery_df[delivery_df['ball']>0]

In [69]:
delivery_df['crr'] = delivery_df['current_score']/( (delivery_df['over']-1) + (delivery_df['ball']/6) )

In [70]:
delivery_df['rrr'] = delivery_df['current_score']/ (delivery_df['balls_left']/6)

In [71]:
delivery_df.head()

,date,match_id,city,toss_winner,toss_decision,team1,team2,winner,loser,team1_wins,...,dismissal_kind,fielder,current_score,batting_team_,bowling_team_,runs_left,balls_left,wickets_left,crr,rrr
124,2008-04-18,60,Bangalore,Royal Challengers Bangalore,field,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,NaN,NaN,1,Royal Challengers Bangalore,Kolkata Knight Riders,222,119,10,6.0,0.050420
125,2008-04-18,60,Bangalore,Royal Challengers Bangalore,field,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,NaN,NaN,2,Royal Challengers Bangalore,Kolkata Knight Riders,221,118,10,6.0,0.101695
126,2008-04-18,60,Bangalore,Royal Challengers Bangalore,field,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,NaN,NaN,2,Royal Challengers Bangalore,Kolkata Knight Riders,221,117,10,4.0,0.102564
127,2008-04-18,60,Bangalore,Royal Challengers Bangalore,field,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,NaN,NaN,3,Royal Challengers Bangalore,Kolkata Knight Riders,220,116,10,4.5,0.155172
128,2008-04-18,60,Bangalore,Royal Challengers Bangalore,field,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,NaN,NaN,4,Royal Challengers Bangalore,Kolkata Knight Riders,219,115,10,4.8,0.208696

In [72]:
def result(row):
    return 1 if row['batting_team'] == row['winner'] else 0

In [73]:
delivery_df.apply(result,axis=1)

124       0
125       0
126       0
127       0
128       0
         ..
240408    1
240409    1
240410    1
240411    1
240412    1
Length: 116284, dtype: int64

In [74]:
delivery_df['result'] = delivery_df.apply(result,axis=1)

In [75]:
delivery_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 116284 entries, 124 to 240412
Data columns (total 42 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   date              116284 non-null  datetime64[ns]
 1   match_id          116284 non-null  int64
 2   city              115452 non-null  object
 3   toss_winner       116284 non-null  object
 4   toss_decision     116284 non-null  object
 5   team1             116284 non-null  object
 6   team2             116284 non-null  object
 7   winner            116257 non-null  object
 8   loser             116284 non-null  object
 9   team1_wins        116284 non-null  int64
 10  team2_wins        116284 non-null  int64
 11  target            116284 non-null  int64
 12  inning            116284 non-null  int64
 13  batting_team      116284 non-null  object
 14  bowling_team      116284 non-null  object
 15  over              116284 non-null  int64
 16  ball              116284 non-null  int64
 17  Unnamed: 6        0 non-null       float64
 18  batsman           85079 non-null   object
 19  non_striker       85079 non-null   object
 20  bowler            85079 non-null   object
 21  is_super_over     85079 non-null   float64
 22  wide_runs         85079 non-null   float64
 23  bye_runs          85079 non-null   float64
 24  legbye_runs       85079 non-null   float64
 25  noball_runs       85079 non-null   float64
 26  penalty_runs      85079 non-null   float64
 27  batsman_runs      85079 non-null   float64
 28  extra_runs        85079 non-null   float64
 29  total_runs        116284 non-null  int64
 30  player_dismissed  116284 non-null  int32
 31  dismissal_kind    4160 non-null    object
 32  fielder           2987 non-null    object
 33  current_score     116284 non-null  int64
 34  batting_team_     116284 non-null  object
 35  bowling_team_     116284 non-null  object
 36  runs_left         116284 non-null  int64
 37  balls_left        116284 non-null  int64
 38  wickets_left      116284 non-null  int32
 39  crr               116284 non-null  float64
 40  rrr               116284 non-null  float64
 41  result            116284 non-null  int64
dtypes: datetime64[ns](1), float64(11), int32(2), int64(12), object(16)
memory usage: 37.3+ MB

In [76]:
def bat_wins(row):
    return row['team1_wins'] if (row['batting_team']==row['team1']) else row['team2_wins']
# def bat_losses(row):
#     return row['team1_losses'] if (row['batting_team']==row['team1']) else row['team2_losses']
def bowl_wins(row):
    return row['team1_wins'] if (row['bowling_team']==row['team1']) else row['team2_wins']
# def bowl_losses(row):
#     return row['team1_losses'] if (row['bowling_team']==row['team1']) else row['team2_losses']

delivery_df['batting_wins']=delivery_df.apply(bat_wins,axis=1)
# delivery_df['batting_losses']=delivery_df.apply(bat_losses,axis=1)
delivery_df['bowling_wins']=delivery_df.apply(bowl_wins,axis=1)
# delivery_df['bowling_losses']=delivery_df.apply(bowl_losses,axis=1)

In [77]:
delivery_df

,date,match_id,city,toss_winner,toss_decision,team1,team2,winner,loser,team1_wins,...,batting_team_,bowling_team_,runs_left,balls_left,wickets_left,crr,rrr,result,batting_wins,bowling_wins
124,2008-04-18,60,Bangalore,Royal Challengers Bangalore,field,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,Royal Challengers Bangalore,Kolkata Knight Riders,222,119,10,6.000000,0.050420,0,0,0
125,2008-04-18,60,Bangalore,Royal Challengers Bangalore,field,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,Royal Challengers Bangalore,Kolkata Knight Riders,221,118,10,6.000000,0.101695,0,0,0
126,2008-04-18,60,Bangalore,Royal Challengers Bangalore,field,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,Royal Challengers Bangalore,Kolkata Knight Riders,221,117,10,4.000000,0.102564,0,0,0
127,2008-04-18,60,Bangalore,Royal Challengers Bangalore,field,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,Royal Challengers Bangalore,Kolkata Knight Riders,220,116,10,4.500000,0.155172,0,0,0
128,2008-04-18,60,Bangalore,Royal Challengers Bangalore,field,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,Royal Challengers Bangalore,Kolkata Knight Riders,219,115,10,4.800000,0.208696,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240408,2023-05-26,12073,Ahmedabad,Mumbai Indians,field,Gujarat Titans,Mumbai Indians,Gujarat Titans,Mumbai Indians,10,...,Mumbai Indians,Gujarat Titans,-14,3,7,10.615385,414.000000,1,10,9
240409,2023-05-26,12073,Ahmedabad,Mumbai Indians,field,Gujarat Titans,Mumbai Indians,Gujarat Titans,Mumbai Indians,10,...,Mumbai Indians,Gujarat Titans,-15,2,7,10.576271,624.000000,1,10,9
240410,2023-05-26,12073,Ahmedabad,Mumbai Indians,field,Gujarat Titans,Mumbai Indians,Gujarat Titans,Mumbai Indians,10,...,Mumbai Indians,Gujarat Titans,-16,1,7,10.537815,1254.000000,1,10,9
240411,2023-05-26,12073,Ahmedabad,Mumbai Indians,field,Gujarat Titans,Mumbai Indians,Gujarat Titans,Mumbai Indians,10,...,Mumbai Indians,Gujarat Titans,-16,0,6,10.450000,inf,1,10,9
240412,2023-05-26,12073,Ahmedabad,Mumbai Indians,field,Gujarat Titans,Mumbai Indians,Gujarat Titans,Mumbai Indians,10,...,Mumbai Indians,Gujarat Titans,-16,119,6,1254.000000,10.537815,1,10,9

In [78]:
# delivery_df.to_csv('delivery_df_.csv')

In [79]:
# delivery_df.info()

In [80]:
delivery_df[['toss_decision']].value_counts()

toss_decision
field            73608
bat              42676
dtype: int64

In [81]:
# def bat_wl_ratio(row):
#     return row['batting_wins'] if row['batting_losses']==0 else (row['batting_wins']/row['batting_losses'])

# def bowl_wl_ratio(row):
#     return row['bowling_wins'] if row['bowling_losses']==0 else (row['bowling_wins']/row['bowling_losses'])

# delivery_df['batting_wl_ratio']=delivery_df.apply(bat_wl_ratio,axis=1)
# delivery_df['bowling_wl_ratio']=delivery_df.apply(bowl_wl_ratio,axis=1)

# delivery_df

In [82]:
final_df = delivery_df[['batting_team','bowling_team','toss_winner','city','runs_left','balls_left','wickets_left','target','crr','rrr','result']]

# final_df = delivery_df[['batting_team','bowling_team','batting_wins','batting_losses','bowling_wins','bowling_losses','toss_winner','city','runs_left','balls_left','wickets_left','target','crr','rrr','result']]

# final_df = delivery_df[['batting_team','bowling_team','batting_wl_ratio','bowling_wl_ratio','toss_winner','city','runs_left','balls_left','wickets_left','target','crr','rrr','result']]

# final_df = delivery_df[['batting_team','bowling_team','batting_wins','bowling_wins','toss_winner','city','runs_left','balls_left','wickets_left','target','crr','rrr','result']]

In [83]:
final_df['city'] = final_df['city'].str.replace('East London',"_Other")
final_df['city'] = final_df['city'].str.replace('Kimberley',"_Other")
final_df['city'] = final_df['city'].str.replace('Durban',"_Other")
final_df['city'] = final_df['city'].str.replace('Bloemfontein',"_Other")
final_df['city'] = final_df['city'].str.replace('Johannesburg',"_Other")
final_df['city'] = final_df['city'].str.replace('Centurion',"_Other")
final_df['city'] = final_df['city'].str.replace('Port Elizabeth',"_Other")
final_df['city'] = final_df['city'].str.replace('Cape Town',"_Other")
final_df['city'] = final_df['city'].str.replace('Bengaluru',"Bangalore")

C:\Users\Admin\AppData\Local\Temp\ipykernel_15304\3988803506.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['city'] = final_df['city'].str.replace('East London',"_Other")
C:\Users\Admin\AppData\Local\Temp\ipykernel_15304\3988803506.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['city'] = final_df['city'].str.replace('Kimberley',"_Other")
C:\Users\Admin\AppData\Local\Temp\ipykernel_15304\3988803506.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['city'] = final_df['city'].str.replace('Durban',"_Other")
C:\Users\Admin\AppData\Local\Temp\ipykernel_15304\3988803506.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['city'] = final_df['city'].str.replace('Bloemfontein',"_Other")
C:\Users\Admin\AppData\Local\Temp\ipykernel_15304\3988803506.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['city'] = final_df['city'].str.replace('Johannesburg',"_Other")
C:\Users\Admin\AppData\Local\Temp\ipykernel_15304\3988803506.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['city'] = final_df['city'].str.replace('Centurion',"_Other")
C:\Users\Admin\AppData\Local\Temp\ipykernel_15304\3988803506.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['city'] = final_df['city'].str.replace('Port Elizabeth',"_Other")
C:\Users\Admin\AppData\Local\Temp\ipykernel_15304\3988803506.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['city'] = final_df['city'].str.replace('Cape Town',"_Other")
C:\Users\Admin\AppData\Local\Temp\ipykernel_15304\3988803506.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['city'] = final_df['city'].str.replace('Bengaluru',"Bangalore")

In [84]:
final_df['batting_team'] = final_df['batting_team'].str.replace("Delhi Daredevils","Delhi Capitals")
final_df['bowling_team'] = final_df['bowling_team'].str.replace("Delhi Daredevils","Delhi Capitals")

final_df['batting_team'] = final_df['batting_team'].str.replace("Deccan Chargers","Sunrisers Hyderabad")
final_df['bowling_team'] = final_df['bowling_team'].str.replace("Deccan Chargers","Sunrisers Hyderabad")

final_df['batting_team'] = final_df['batting_team'].str.replace("Kings XI Punjab","Punjab Kings")
final_df['bowling_team'] = final_df['bowling_team'].str.replace("Kings XI Punjab","Punjab Kings")

final_df['batting_team'] = final_df['batting_team'].str.replace("Gujarat Lions","Gujarat Titans")
final_df['bowling_team'] = final_df['bowling_team'].str.replace("Gujarat Lions","Gujarat Titans")

C:\Users\Admin\AppData\Local\Temp\ipykernel_15304\3167754257.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['batting_team'] = final_df['batting_team'].str.replace("Delhi Daredevils","Delhi Capitals")
C:\Users\Admin\AppData\Local\Temp\ipykernel_15304\3167754257.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['bowling_team'] = final_df['bowling_team'].str.replace("Delhi Daredevils","Delhi Capitals")
C:\Users\Admin\AppData\Local\Temp\ipykernel_15304\3167754257.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['batting_team'] = final_df['batting_team'].str.replace("Deccan Chargers","Sunrisers Hyderabad")
C:\Users\Admin\AppData\Local\Temp\ipykernel_15304\3167754257.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['bowling_team'] = final_df['bowling_team'].str.replace("Deccan Chargers","Sunrisers Hyderabad")
C:\Users\Admin\AppData\Local\Temp\ipykernel_15304\3167754257.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['batting_team'] = final_df['batting_team'].str.replace("Kings XI Punjab","Punjab Kings")
C:\Users\Admin\AppData\Local\Temp\ipykernel_15304\3167754257.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['bowling_team'] = final_df['bowling_team'].str.replace("Kings XI Punjab","Punjab Kings")
C:\Users\Admin\AppData\Local\Temp\ipykernel_15304\3167754257.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['batting_team'] = final_df['batting_team'].str.replace("Gujarat Lions","Gujarat Titans")
C:\Users\Admin\AppData\Local\Temp\ipykernel_15304\3167754257.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['bowling_team'] = final_df['bowling_team'].str.replace("Gujarat Lions","Gujarat Titans")

In [85]:
# 'East London', 'Kimberley','Durban','Bloemfontein','Johannesburg','Centurion','Port Elizabeth','Cape Town'

In [86]:
final_df

,batting_team,bowling_team,toss_winner,city,runs_left,balls_left,wickets_left,target,crr,rrr,result
124,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,Bangalore,222,119,10,223,6.000000,0.050420,0
125,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,Bangalore,221,118,10,223,6.000000,0.101695,0
126,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,Bangalore,221,117,10,223,4.000000,0.102564,0
127,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,Bangalore,220,116,10,223,4.500000,0.155172,0
128,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,Bangalore,219,115,10,223,4.800000,0.208696,0
...,...,...,...,...,...,...,...,...,...,...,...
240408,Gujarat Titans,Chennai Super Kings,Mumbai Indians,Ahmedabad,-14,3,7,193,10.615385,414.000000,1
240409,Gujarat Titans,Chennai Super Kings,Mumbai Indians,Ahmedabad,-15,2,7,193,10.576271,624.000000,1
240410,Gujarat Titans,Chennai Super Kings,Mumbai Indians,Ahmedabad,-16,1,7,193,10.537815,1254.000000,1
240411,Gujarat Titans,Chennai Super Kings,Mumbai Indians,Ahmedabad,-16,0,6,193,10.450000,inf,1
240412,Gujarat Titans,Chennai Super Kings,Mumbai Indians,Ahmedabad,-16,119,6,193,1254.000000,10.537815,1

In [87]:
final_df.isnull().sum()

batting_team      0
bowling_team      0
toss_winner       0
city            832
runs_left         0
balls_left        0
wickets_left      0
target            0
crr               0
rrr               0
result            0
dtype: int64

In [88]:
final_df.isnull().sum()

batting_team      0
bowling_team      0
toss_winner       0
city            832
runs_left         0
balls_left        0
wickets_left      0
target            0
crr               0
rrr               0
result            0
dtype: int64

In [89]:
final_df = final_df[final_df['balls_left']>0]
# final_df = final_df[final_df['runs_left']>=0]

In [90]:
final_df.dropna(inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_15304\2709626079.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.dropna(inplace=True)

In [91]:
# final_df.to_csv('final_df_copy_adfasdf.csv',index=False)

In [92]:
final_df = final_df.sample(final_df.shape[0])
final_df

,batting_team,bowling_team,toss_winner,city,runs_left,balls_left,wickets_left,target,crr,rrr,result
61178,Kolkata Knight Riders,Punjab Kings,Kolkata Knight Riders,Kolkata,66,62,8,135,7.137931,6.677419,0
27216,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata,52,64,10,136,9.000000,7.875000,1
72743,Delhi Capitals,Royal Challengers Bangalore,Delhi Daredevils,Delhi,156,78,8,216,8.571429,4.615385,0
158998,Punjab Kings,Mumbai Indians,Kings XI Punjab,Mumbai,132,79,9,198,9.658537,5.012658,0
89594,Rajasthan Royals,Chennai Super Kings,Rajasthan Royals,Jaipur,123,95,8,142,4.560000,1.200000,1
...,...,...,...,...,...,...,...,...,...,...,...
52675,Pune Warriors,Sunrisers Hyderabad,Deccan Chargers,Hyderabad,64,66,9,137,8.111111,6.636364,1
187542,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,Abu Dhabi,92,53,7,165,6.537313,8.264151,1
147685,Rising Pune Supergiant,Mumbai Indians,Mumbai Indians,Hyderabad,99,90,9,130,6.200000,2.066667,0
30321,Mumbai Indians,Kolkata Knight Riders,Kolkata Knight Riders,Mumbai,95,80,10,156,9.150000,4.575000,1
68967,Kolkata Knight Riders,Delhi Capitals,Delhi Daredevils,Delhi,55,45,9,154,7.920000,13.200000,1

In [93]:
final_df.describe()

,runs_left,balls_left,wickets_left,target,crr,rrr,result
count,114939.000000,114939.000000,114939.000000,114939.000000,114939.000000,114939.000000,114939.000000
mean,94.016600,62.692828,7.543097,167.856089,7.560970,24.785401,0.463028
std,50.477173,33.266498,2.130341,29.548585,5.225305,75.647594,0.498633
min,-59.000000,1.000000,-1.000000,66.000000,0.000000,0.000000,0.000000
25%,54.000000,35.000000,6.000000,149.000000,6.318584,2.307692,0.000000
50%,93.000000,63.000000,8.000000,167.000000,7.542857,6.750000,0.000000
75%,132.000000,91.000000,9.000000,188.000000,8.800000,18.923077,1.000000
max,264.000000,119.000000,10.000000,264.000000,1254.000000,1332.000000,1.000000

In [94]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114939 entries, 61178 to 68967
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   batting_team  114939 non-null  object
 1   bowling_team  114939 non-null  object
 2   toss_winner   114939 non-null  object
 3   city          114939 non-null  object
 4   runs_left     114939 non-null  int64
 5   balls_left    114939 non-null  int64
 6   wickets_left  114939 non-null  int32
 7   target        114939 non-null  int64
 8   crr           114939 non-null  float64
 9   rrr           114939 non-null  float64
 10  result        114939 non-null  int64
dtypes: float64(2), int32(1), int64(4), object(4)
memory usage: 10.1+ MB

In [95]:
X=final_df.iloc[:,:-1]
y=final_df.iloc[:,-1]

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=1)

In [96]:
# dfdf dfdX_train.isnull().sum()

In [97]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

from sklearn.ensemble import RandomForestClassifier

In [98]:
from sklearn.preprocessing import StandardScaler

# trf_numeric= Pipeline(steps=[
#     ('sclaer',StandardScaler())
# ]
# )

In [99]:
# numeric_features = ['batting_wl_ratio','bowling_wl_ratio','runs_left','balls_left','wickets_left','target','crr','rrr']
# numeric_transformer = Pipeline(steps=[
#     ('scaler', StandardScaler())
#     ]
# )

In [100]:
trf = ColumnTransformer([
    ('trf_categorical',OneHotEncoder(sparse=False,drop='first'),['batting_team','bowling_team','city','toss_winner']),
    # ('trf_numeric',numeric_transformer,numeric_features)
    # ('trf2',)
    # ('trf',OneHotEncoder(sparse=False,drop='first'),['batting_team','bowling_team','city','toss_winner','toss_decision'])
]
,remainder='passthrough')

In [101]:

from sklearn.linear_model import LogisticRegression

In [102]:
pipe = Pipeline(
    steps=[
        ('step1',trf),
        ('step2',StandardScaler()),
        ('lr',LogisticRegression(solver='liblinear',max_iter=100)),
        # ('step3',RandomForestClassifier())
    ]
)

In [103]:
# X_train.describe()

In [104]:
pipe.fit(X_train,y_train)

c:\Users\Admin\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf_categorical',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city',
                                                   'toss_winner'])])),
                ('step2', StandardScaler()),
                ('lr', LogisticRegression(solver='liblinear'))])

In [105]:
# pipe.named_steps['step2'].coef_

In [106]:
y_pred=pipe.predict(X_test)

In [107]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.7811901861840961

In [108]:
pipe.predict_proba(X_test)[123]

array([0.93618967, 0.06381033])

In [109]:
pipe.predict(X_test)[123]

0

In [110]:
y_test.iloc[123]

0

In [111]:
# Cross_val_score

# from sklearn.model_selection import cross_val_score

# cross_val_scores = cross_val_score(pipe, X, y, cv=20, scoring='accuracy')

# # Print the accuracy scores for each fold
# print("Cross-Validation Accuracy Scores:", cross_val_scores)

# # Calculate and print the mean accuracy score
# mean_accuracy = cross_val_scores.mean()
# print("Mean Accuracy:", mean_accuracy)

In [112]:
# Mean Accuracy: 0.7864780780311171

In [113]:
# from sklearn.model_selection import GridSearchCV

# para_grid_lr={
#     'lr__penalty':['none', 'l1', 'l2', 'elasticnet'],
#     'lr__solver':['newton-cg', 'lbfgs', 'liblinear', 'sag', 'saga'],
#     'lr__C':[100, 10, 1.0, 0.1, 0.01],
#     'lr__max_iter':[100,1000,2500,5000]
#     }

# logr_grid=GridSearchCV(
#     estimator=pipe,
#     param_grid=para_grid_lr,
#     cv=3,
#     verbose=3,
#     n_jobs=-1
# )

# logr_grid.fit(X_train,y_train)

In [114]:
# from sklearn.model_selection import GridSearchCV

# para_grid_lr={
#     'lr__penalty':['l2'],
#     'lr__solver':['liblinear'],
#     'lr__C':[1.0],
#     'lr__max_iter':[100]
#     }

# logr_grid=GridSearchCV(
#     estimator=pipe,
#     param_grid=para_grid_lr,
#     cv=3,
#     verbose=3,
#     n_jobs=-1
# )

# logr_grid.fit(X_train,y_train)

In [115]:
# logr_grid.best_params_

In [116]:
# logr_grid.best_score_

In [117]:
pipe_rf = Pipeline(
    steps=[
        ('step1',trf),
        # ('step2',StandardScaler()),
        # ('step2',LogisticRegression(solver='liblinear')),
        ('rf',RandomForestClassifier(n_estimators=100,max_features=1,max_depth=None,max_samples=0.75)) 
    ]
)

In [118]:
pipe_rf.fit(X_train,y_train)

c:\Users\Admin\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf_categorical',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city',
                                                   'toss_winner'])])),
                ('rf',
                 RandomForestClassifier(max_features=1, max_samples=0.75))])

In [119]:
y_pred_rf=pipe_rf.predict(X_test)

In [120]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred_rf)

0.9994344875587263

In [121]:
pipe_rf.predict_proba(X_test)[101]

array([0.07, 0.93])

In [122]:
pipe_rf.predict(X_test)[1233]

1

In [123]:
y_test.iloc[1]

0

In [124]:
y_test[101:102]==pipe_rf.predict(X_test)[101]

171388    True
Name: result, dtype: bool

In [125]:
# import random
# correct_ = 0
# incorrect_ = 0

# randomlist = []
# for i in range(0,3000):
#     n = random.randint(1,len(y_test))
#     randomlist.append(n)

# # randomlist
# for i in randomlist:
#     if pipe_rf.predict(X_test)[i] == y_test.iloc[i]:
#         correct_ += 1
#     else:
#         incorrect_ += 1

# print("Correct: "+ str(correct_))
# print("Incorrect: "+ str(incorrect_))

# # Output: (9m 41.2s)
# #     Correct: 999
# #     Incorrect: 1

# # Output: (29m 17.0s)
# #     Correct: 2999
# #     Incorrect: 1

# # Output: (29m 58.5s)
#     # Correct: 2997
#     # Incorrect: 3

In [126]:
# Cross_val_score

# from sklearn.model_selection import cross_val_score

# cross_val_scores = cross_val_score(pipe_rf, X, y, cv=20, scoring='accuracy')

# # Print the accuracy scores for each fold
# print("Cross-Validation Accuracy Scores:", cross_val_scores)

# # Calculate and print the mean accuracy score
# mean_accuracy = cross_val_scores.mean()
# print("Mean Accuracy:", mean_accuracy)

In [127]:
# Mean Accuracy: 0.999547587018721

In [128]:
# from sklearn.model_selection import GridSearchCV

# para_grid_lr={
    # 'n_estimator':[25,50,100,150],
    # 'max_features':[0.25,0.5,0.75,1],
    # 'max_depth':[2,8,None],
    # 'max_samples':[0.25,0.5,0.75,1]
# }
# rf_grid=GridSearchCV(
#     estimator=pipe,
#     param_grid=para_grid_lr,
#     cv=3,
#     verbose=3,
#     n_jobs=-1
# )

# rf_grid.fit(X_train,y_train)

In [129]:
# from sklearn.model_selection import GridSearchCV

# para_grid_rf={
#     'rf__n_estimators':[100],
#     'rf__max_features':[1],
#     'rf__max_depth':[None],
#     'rf__max_samples':[0.75]
#     }

# rf_grid=GridSearchCV(
#     estimator=pipe_rf,
#     param_grid=para_grid_rf,
#     cv=3,
#     verbose=3,
#     n_jobs=-1
# )

# rf_grid.fit(X_train,y_train)

In [130]:
# rf_grid.best_params_

In [131]:
# rf_grid.best_score_

In [132]:
final_df['city'].unique()

array(['Kolkata', 'Delhi', 'Mumbai', 'Jaipur', 'Hyderabad', 'Chennai',
       'Kochi', 'Dubai ', 'Abu Dhabi', 'Lucknow', 'Rajkot', 'Pune',
       'Dharamsala', 'Chandigarh', '_Other', 'Raipur', 'Bangalore',
       'Ranchi', 'Ahmedabad', 'Visakhapatnam', 'Sharjah ', 'Mohali',
       'Cuttack', 'Sharjah', 'Nagpur', 'Guwahati', 'Kanpur', 'Indore'],
      dtype=object)

In [133]:
final_df['batting_team'].unique()

array(['Kolkata Knight Riders', 'Delhi Capitals', 'Punjab Kings',
       'Rajasthan Royals', 'Sunrisers Hyderabad', 'Chennai Super Kings',
       'Kochi Tuskers Kerala', 'Royal Challengers Bangalore',
       'Mumbai Indians', 'Gujarat Titans', 'Pune Warriors',
       'Lucknow Super Giants', 'Rising Pune Supergiant',
       'Rising Pune Supergiants'], dtype=object)

In [134]:
import pickle
pickle.dump(pipe,open('pipe.pkl','wb'))
pickle.dump(pipe_rf,open('pipe_rf.pkl','wb'))

In [135]:
# final_df['toss_decision'].unique()